<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Drugs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-searchbar [(ngModel)]="search" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>    
    <ion-list>       
      <ion-item text-wrap *ngFor="let item of drugs">
        <h2 >{{item.name}}</h2>
        <button ion-button clear item-end>
          <ion-icon class="instock" *ngIf="item.instock" name="checkmark" item-end>In Stock</ion-icon>
          <ion-icon class="outstock" *ngIf="!item.instock" name="close" item-end>Out Of Stock</ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>The Avenues Clinic</ion-title>
  </ion-toolbar>
</ion-footer>