page-about-us {
    .scroll-content{
        margin: 0 !important;
        padding: 0 !important;
    }
   .top-image{
        background-image: url(/assets/imgs/baines-avenue-clinic.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
   }
   .layer {
        background-color: rgba(50, 50, 50, 0.7);
        background-attachment: scroll;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
   }
    .underline{
        border-bottom: 10px solid #F0F0E9;
    }
    .lower{
        margin-top: 1.5em !important;
    }
}
