<ion-header>
  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="center-content">
    <ion-item class="center">
      <img class="smaller-img" src="assets/imgs/logo.png" />
    </ion-item>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)">
      <ion-item>
        <ion-label floating>Reset Code</ion-label>
        <ion-input type="text" formControlName="resetCode"></ion-input>       
      </ion-item>
      <div *ngIf="changePasswordForm.controls['resetCode'].touched && !changePasswordForm.controls['resetCode'].valid">
        <span *ngIf="changePasswordForm.controls['resetCode'].hasError('required') ">
          <ion-label class="danger">Reset code is required</ion-label>
        </span>      
      </div> 
      <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="changePasswordForm.controls['password'].touched && !changePasswordForm.controls['password'].valid">
        <span *ngIf="changePasswordForm.controls['password'].hasError('required') ">
          <ion-label class="danger">New password is required</ion-label>
        </span>      
      </div>   
      <button class="main-color" ion-button full [disabled]="!loginForm.valid">
        Sign In<ion-spinner *ngIf="loading" name="bubbles"></ion-spinner>
      </button>
    </form>  
  </div>
</ion-content>
