<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item class="center">
        <img class="side-img" src="assets/imgs/logo.png" />
      </ion-item>
      <button  menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-start></ion-icon> {{p.title}}
      </button>
      <button  menuClose ion-item  (click)="signOut()">
          <ion-icon name="power" item-start></ion-icon> Sign Out
        </button>
    </ion-list>   
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-fab *ngIf="loggged" bottom right class="icon-fab" >
  <button ion-fab><ion-icon name="arrow-dropup"></ion-icon></button>
  <ion-fab-list   side="top">
    <ion-icon class="icon-fab-item" (click)="notificationPage()" name="notifications"></ion-icon>
    <ion-icon class="icon-fab-item"  (click)="feedbackPage()" name="chatbubbles"></ion-icon>
  </ion-fab-list> 
</ion-fab>