<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-wrap>FAQ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 class="center" text-wrap>Frequently Asked Questions</h2>
  <ion-list>
    <ion-item text-wrap *ngFor="let item of items; let i of index" >
      {{ item.name }}
      <ion-icon padding-bottom (click)="showMore(i)" name="arrow-dropdown" item-end></ion-icon>
      <p *ngIf="i==content">  {{ item.content }}</p>
    </ion-item>
  </ion-list>
</ion-content>